body {
    background-color: #95999C;
    color: #171717;
    height: 630px;
    overflow: hidden;
} 

 i.fas.fa-bars{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

div#carouselIndicators {
    min-height: 630px;


 }

header{
max-height: 630px ;
}
 
div.carousel-inner{
    /* top: 70%; */
    padding-top: 20%;
    margin-top: 20%;
}
.carousel-indicators{
    top: 75%;
}
.carousel-control-prev{
    top: 5%
}
.carousel-control-next{
    top: 5%;
}